'accent-color': #060606;
'base': #e3e3e5;
'primary': #d2d2d6;
'spacer---4px': 4px;
'spacer---6px': 6px;
'spacer---8px': 8px;
'spacer---16px': 16px;
'spacer---24px': 24px;
'spacer---32px': 32px;
'spacer---40px': 40px;
'spacer---48px': 48px;
'spacer---64px': 64px;
'spacer---80px': 80px;
'spacer---96px': 96px;
'spacer---128px': 128px;
'spacer---0px': 0px;
'font-family': "Manrope";
'spacer---160px': 160px;
'spacer---192px': 192px;
'spacer---256px': 256px;
